* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('bg.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333; 
    padding: 15px 50px;
}

.logo img {
    padding-top: 10px;
    width: auto;
    height: auto;
}

.profile_btn{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url('ods_img/terrifiednootnoot.jpg');
    border: none;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: orange;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    margin-top: auto;
}

.container {
    display: relative;
    width: auto;
    height: 1000px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #FFFFFF;
    border: 2px solid#909090;
}

.inner-cont {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
    padding: 20px;
    width: auto;
    height: 829px;
    border: 2px solid#909090;
}

.ratings {
    text-align: center;
    background-color: #f3f8fe; 
    width: 300px;
    height: 700px;
    border-radius: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 5%;
    margin-top: 3%;
    padding-bottom: 100px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}

.stars {
    margin-bottom: 5px;
    font-size: 30px;
    color: gold; /* Star color */
    letter-spacing: 3px;
    padding-right: 15px;
}

.text {
    list-style: none;
    padding: 0;
    margin: 0;
}

.text li {
    padding-left: 15px;
    font-family: sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #e0e0e0; /* Light separator */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ratings h2{
    text-align: center;
    margin-left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.create {
    position: absolute;
    right: 200px;
    justify-content: flex-end; /* Moves .create button to the right */
    margin-top: 60px;
    padding-right: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #E6A16E;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.task{
    text-align: center;
    background-color: #d3d3d3; 
    width: 900px;
    height: 700px;
    border-radius: 30px;
    margin-left: 5%;
    margin-top: 4.5%;
    padding: 50px;
    border-radius: 10px;
}